
{% load static %}
<!DOCTYPE html>
<html lang="ar" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap" rel="stylesheet">
    <title>Coursat </title>
    <style>
        body::before{
            content: '';
            display: block;
            height: 50px;
        }
    </style>
</head>
<body>
<main class="mt-5">
  <div class="container ">
    <div class="text-center">
      <p>Logged out!</p>  
      <a href="{% url 'login'%}">اضغط هنا لتسجيل الدخول.</a>
    </div>
  </div>
</main>
</body>
</html>