{% extends "base.html" %}

{% load static %}
{% block content %}


<section class="py-5">
  <div class="container text-center">
    <div class="row text-center">
      {% for item in items %}
    <div class="  col-lg-3 col-sm-10 col-md-4  px-2 py-2">
    <div class=" container-item">
      <div class="wrapper text-center">
        <div class="banner-image">
          <img src="{{item.image.url}}" alt="">
         </div>
        <h1><a class="a-item" href="{% url 'shop:item_detail' item.pk%}">{{ item.name }}</a></h1>
        <p>السعر :{{item.price}}</p>
        <p>{{item.description|truncatechars:15}}</p>
       </div>
       <div class="button-wrapper text-center"> 
       <button class="btn-list outline"><a class="a-detail" href="{% url 'shop:item_detail' item.pk%}">التفاصيل</a></button>
         <button class="btn-list fill"><a class="a-detail" href="{% url 'shop:add_item_to_purchased' item.id%}">اشتري الان</a></button>
       </div>
         </div>
         </div>
         {% endfor %}
     </div>
    </div>
  </section>
   
{% endblock content %}
    